doctype html
html(lang="es")
  head
    title Aim Trainer - Bolitas
    link(rel="stylesheet", href="/css/style.css")
    meta(charset="UTF-8")
  body
    nav
      a(href="/") Inicio
      if username
        span Bienvenido, #{username}
        a(href="/auth/logout") Cerrar Sesión
      else
        a(href="/auth/login") Iniciar Sesión

    block content