doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Aim Trainer MVC
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      .logo Bolitas Aim Trainer
      if username
        span Bienvenido, #{username}
        a(href="/auth/logout") Salir
    
    main
      block content